
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarPFPContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarPFP{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: -2px;
    border: 2px solid white;
}

.rightbarUser{
    font-weight: 500;
    font-size: 15px; 
}