.rightbar{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}


.rightbarTitle{
    font-style: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px; 
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 500; 
    margin-right: 10px;
    color: rgb(88, 88, 88); 
}

.rightbarInfoValue{
    font-weight: 300;
}
.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.rightbarFollowBtn{
    margin: 20px 0 10px 0;
    border: none;
    outline: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--facebook-blue);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.rightbarFollowIcon{
    margin-left: 10px;
}